body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-style: bold;
    background-color: #FFFFFF;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-span {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    color: #2E2F42;
    font-family: "Raleway", sans-serif;
    font-style: bold;
    background-color: #FFFFFF;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.nav-list {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #2E2F42;
    font-style: medium;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
}

.nav-list:focus {
    color: #404BBF;
}

.nav-list:hover {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.address-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #434455;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    font-style: normal;
}

.address-link:hover {
    color: #404BBF;
}

.address-link:focus {
    color: #404BBF;
}

.hero {
    background-color: #2E2F42;
}

.hero-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    color: #FFFFFF;
    font-style: bold;
    background-color: #2E2F42;
    letter-spacing: 0.02em;
    text-align: center;

}

.button {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    font-style: medium;
    letter-spacing: 0.04em;
}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.benefits {
    background-color: #FFFFFF;
}

.benefits-text {
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    letter-spacing: 0.02em;
}

.benefits-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #2E2F42;
    font-style: medium;
    letter-spacing: 0.02em;
}

.team {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #2E2F42;
    font-style: bold;
    background-color: #F4F4FD;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.team-li {
    background-color: #FFFFFF;
}

.team-img {
    background-color: #FFFFFF;
}

.team-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #2E2F42;
    font-style: medium;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
}

.team-text {
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    letter-spacing: 0.02em;
}

.footer {
    background-color: #2E2F42;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    background-color: #2E2F42;
    letter-spacing: 0.02em;
}

.footer-logo {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-style: bold;
    background-color: #2E2F42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-span {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-style: bold;
    background-color: #2E2F42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.portfolio {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #2E2F42;
    font-style: bold;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
}

.portfolio-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;
    font-style: medium;
    letter-spacing: 0.02em;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
}